{
    "cameraDevices": [
        {
            "id": "camera1",
            "factoryId": "factory1",
            "imageEndpoint": "http://<camera-ip>",
            "username": "<user>",
            "password": "<password>",
            "localFolder": "/home/local/camera1",
            "outputFolder": "/home/output",
            "aiModules": [
                {
                    "name": "camera1",
                    "scoringEndpoint": "http://camera1objectdetection/image",
                    "tags": [
                        {
                            "name": "tag1",
                            "probability": 0.7,
                            "captureTimeInterval": 60,
                            "analyzeTimeInterval": 1440,
                            "notify": false
                        }
                    ]
                }
            ],
            "timeZoneId": "America/New_York"
        }
    ],
    "properties": [
        {
            "name": "StorageAccountName",
            "value": "<storage-acct-name>"
        },
        {
            "name": "DBEShareContainerName",
            "value": "<share-container-name>"
        },
        {
            "name": "TimerIntervalInSeconds",
            "value": 60
        },
        {
            "name": "LogLevel",
            "value": "Debug"
        }
    ]
}