{
    "CameraDevices": [
        {
            "Id": "camera1",
            "ImageEndpoint": "http://<camera-ip>",
            "Username": "<user>",
            "Password": "<password>",
            "LocalFolder": "/home/local/camera1",
            "OutputFolder": "/home/output/camera1",
            "CaptureTimeInterval": 5,
            "AIModules": [
                {
                    "Name": "camera1",
                    "ScoringEndpoint": "http://camera1objectdetection/image",
                    "Tags": [
                        {
                            "Name": "tag1",
                            "Probability": 0.5,
                            "AnalyzeTimeInterval": 60
                        },
                        {
                            "Name": "tag2",
                            "Probability": 0.5,
                            "AnalyzeTimeInterval": 5
                        }
                    ]
                }
            ],
            "TimeZoneId": "America/New_York"
        }
    ],
    "Properties": [
        {
            "Name": "StorageAccountName",
            "Value": "<storage-acct-name>"
        },
        {
            "Name": "DBEShareContainerName",
            "Value": "<share-container-name>"
        },
        {
            "Name": "TimerIntervalInSeconds",
            "Value": 60
        },
        {
            "Name": "LogLevel",
            "Value": "Debug"
        }
    ]
}